zsh/.config/zsh/.zsh_sessions
vim/.config/local/share/nvim/swap
vim/.config/local/share/fish
.nvimlog
vim/.config/local/share/nvim/log
vim/.config/local/share/nvim/lsp.log
zsh/.config/zsh/.zsh_history
vim/.config/local/share/nvim/log
zsh
