[submodule "submodules/vim-repeat"]
	path = submodules/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "submodules/rust"]
	path = submodules/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "submodules/coc.nvim"]
	path = submodules/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "submodules/fzf.vim"]
	path = submodules/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "submodules/gruvbox"]
	path = submodules/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "submodules/vim-airline"]
	path = submodules/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "submodules/base16-shell"]
	path = submodules/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/preservim/nerdtree.git
